body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.tablero {
  text-align: center;
  margin-bottom: 2%;
  width: 100%;
}

.imgTablero {
  width: 60%;
  height: auto;
}

form {
  background-color: #fff;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-top: 32%; /* Añade un margen superior para separar el formulario de las imágenes */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2%;
}

th, td {
  border: 1px solid #ddd;
  padding: 1%;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

input[type="number"] {
  width: 100%;
  padding: 0.5%;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 0.5%;
  box-sizing: border-box;
}

.amplio {
  width: 100%;
}

.none {
  display: none;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #45a049;
}

#resultado {
  font-weight: bold;
  margin-top: 2%;
}

.image-container {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.image-container img#soloRuleta {
  z-index: 1;
  width: 23%;
  margin-top: 19%;
  margin-left: 13.5%;
  animation: girar 5s linear infinite;
}

.image-container img.imgTablero {
  z-index: 0;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.instrucciones {
  background-color: #fff;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-top: 2%;
  text-align: left;
}

.instrucciones ol {
  padding-left: 20px;
}

.instrucciones li {
  margin-bottom: 10px;
}